﻿
@{
    ViewData["Title"] = "Articles";
}

<h2>Artikel</h2>

<table id="superDataTable" class="display">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Preis</th>
        <th>Lieferanten ID</th>
        <th>Lieferant</th>
    </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Bezeichnung</label>
        <div class="col-sm-10">
            <input id="name" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Lieferant</label>
        <div class="col-sm-10">
            <select id="suppliers" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Preis</label>
        <div class="col-sm-10">
            <input id="price" type="number" class="form-control">
        </div>
    </div>
    <button id="submit" class="btn btn-primary mb-2">Artikel erstellen</button>
</div>


@section Scripts {
    <script src="~/js/table_handler.js" asp-append-version="true"></script>
    <script src="~/js/articles.js" asp-append-version="true"></script>
}