﻿@{
    ViewData["Title"] = "Departments";
}

<h2>Abteilungen</h2>
<table id="superDataTable" class="display">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Abteilungsleiter</th>
    </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Abteilungsl.</label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Abteilung erstellen</button>
</form>

@section Scripts {
    <script src="~/js/table_handler.js" asp-append-version="true"></script>
    <script src="~/js/department.js" asp-append-version="true"></script>

}