﻿
@{
    ViewData["Title"] = "Employees";
}

<h2>Mitarbeiter</h2>

<table id="superDataTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Abteilung</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input id="name" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Abteilung</label>
        <div class="col-sm-10">
            <select id="department" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">PLZ</label>
        <div class="col-sm-10">
            <input id="plz" type="number" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ort</label>
        <div class="col-sm-10">
            <input id="city" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Straße</label>
        <div class="col-sm-10">
            <input id="street" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hausnummer</label>
        <div class="col-sm-10">
            <input id="houseNumber" type="number" class="form-control">
        </div>
    </div>
    <button id="post" class="btn btn-primary mb-2">Mitarbeiter erstellen</button>
</div>

@section Scripts {
    <script src="~/js/table_handler.js" asp-append-version="true"></script>
    <script src="~/js/employees.js" asp-append-version="true"></script>
    <script>
        $("#post").click(() => {
            
        });
    </script>
}