﻿
@{
    ViewData["Title"] = "Orders";
}

<h2>Bestellungen</h2>

<table id="superDataTable" class="display">
    <thead>
    <tr>
        <th>ID</th>
        <th>Datum</th>
        <th>Bestellte Artikel</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Bestelldatum</label>
        <div class="col-sm-10">
            <input type="date" class="form-control">
        </div>
    </div>
    <button type="button" class="btn btn-primary mb-2">Bestellung erstellen</button>
</form>

@section Scripts {
    <script src="~/js/table_handler.js" asp-append-version="true"></script>
    <script src="~/js/orders.js" asp-append-version="true"></script>
}